/* Team-logo */
.team-name {
    margin-bottom: 0;
    color: #80FF00;
}
a {
    text-decoration: none;
}

.team-logo__img {
    border: 3px solid #80FF00;
}

.vl {
    border-right: 3px solid #80FF00;
    height: auto;
}

.team-device {
    margin-top: 0;
    font-size: 14px;
    line-height: 14px;
    color: #80FF00;
}

/* Team-person1 */
a{
    text-decoration: none;
}
.persons-link {
    margin-top: 20px;
}

.person-a-one {
    text-decoration: none;
    color: #2704FE;
}

.person-a-two {
    color: #FF0000;
    text-decoration: none;
}

.person-a-three {
    text-decoration: none;
    color:#FFC62A;
}

.person-a-four {
    text-decoration: none;
    color: #80FF00;
}

/* HOVER  */

.person-a-one:hover {
    color: #80FF00;
}

.person-a-two:hover {
    color: #80FF00;
}

.person-a-three:hover {
    color: #80FF00;
}

.person-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
}

.person-link img {
    margin-right: 10px;
}
/* big logo  */
.team-bease h1 {
    font-size: 70px;
    color: #80FF00;
}

.team-bease p {
    font-size: 30px;
    color: #80FF00;
}

.team-bease img {
    border: 3px solid #80FF00;
}